[Desktop Entry]
Type=Application
Exec=mymSoundSettings
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=mymSoundsettings
Name=mymSoundsettings
Comment[en_US]=Sets default sound
Comment=Sets default sound
